.carousel{
    margin: 100px auto;
    height: 90%;
    border: 5px solid red;
    overflow-y: auto;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em;
}

.card {
    flex: 0 0 auto;
    width: 80%;
    min-height: 5em;
    padding: 1em;
    background: aqua;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    margin: 1em 0;
    position: relative;
    overflow: hidden;
}